<?xml version="1.0" encoding="UTF-8"?>
<Properties>
  <TeamFlagsEnabled>False</TeamFlagsEnabled>
  <CommentatorTagsEnabled>False</CommentatorTagsEnabled>
  <TwitterHandleEnabled>True</TwitterHandleEnabled>
  <SponserIconsEnabled>False</SponserIconsEnabled>
  <KeepWindowOnTopEnabled>False</KeepWindowOnTopEnabled>
</Properties>